.filter_div {
    position: absolute;
    display: block;
    z-index: 10000;
    margin-top: 100px;
    padding-right: 15px;
    font-family: "Lucida Grande";
    font-size: 11px;
    left: 0px;
    background: rgba(255, 255, 255, 0.75);
    width: 325px;
}

.counter {
    float: right;
}

#show_filter {
    position: absolute;
    z-index: 10000;
    margin-top: 75px;
    margin-left: 100px;
    display: none;
}

#hide_filter {
    position: absolute;
    z-index: 10000;
    margin-top: 75px;
    margin-left: 100px;
}
